@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
legend {
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.col-centered {
    float: none;
    margin: 0 auto;
    padding-top: 20px;
}

.button {
    text-align: center;
}

.modal{
    margin-top: 150px;
}

h1{
    margin-top: 70px;
    font-family: 'Bitter', serif;
}
h4{
    font-family: 'Open Sans Condensed', sans-serif;
}

/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
}*/

.content{
    /*padding-bottom: 70px;*/
}